# Version control
.git
.gitignore

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
.env
.venv
env.bak/
venv.bak/
.pytest_cache/
.coverage
htmlcov/
.tox/
nosetests.xml
coverage.xml
*.cover

# Tests
#**/tests/
#test_*.py
#*_test.py
#pytest.ini
#conftest.py

# Editors
.idea/
.vscode/
*.swp
*.swo
.DS_Store

# Docker
.dockerignore
docker-compose.yml
Dockerfile*

# Documentation
docs/
# Excluding README.md from the ignore pattern
*.md